
html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

div, ul {
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.no-rps {
  background-color: #ED5565;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.h1 {
  margin: 10px;
  color: white;
}

.fate {
  margin-left: 30px;
}

.rps {
  padding: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  padding: 5px;
}

.list {
  text-align: center;
  list-style: none;
  background-color: #4FC1E9;
  color: white;
}